# --- Core ---
requests>=2.31.0,<3
# Playwright estable (evita la 1.44.1 que te marcó "no matching distribution")
playwright>=1.44,<1.46
# opcional (a veces mejora estabilidad de TLS/proxy)
certifi>=2024.2.2
